/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans serif;
}
body{
    /* background-image: url("images/1.jpg"); */
    /* background: forestgreen; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    /* background: darkgoldenrod; */
}
.img{
  padding-right: 700px;
  position: absolute;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    /* padding: 0 15px 0 15px; */
    /* background: firebrick; */
    position: absolute;
    padding-left: 700px;
}
/* span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;} */
header{
    /* color: #fff; */
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.top-header{
    margin-bottom: 10px;
}
/* .input-field{
    display: flex;
    flex-direction: column;
    
} */
.input-field2{
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    padding-top: 30;
    
   
}
.input-field .icon{
  display: block;
  
}
.input-field .input{
    margin-top: 80;
    height: 45px;
    width: 90%;
    border: none;
    padding-bottom: 10;
    border-bottom: 2px solid;
    outline: none;
    /* border-radius: 90px; */
    /* color: #fff; */
    padding: 0 0 0 40px;
    background: rgba(255,255,255,0.1);
}
i{
    position: relative;
    top: -31px;
    left: 5px;
    /* color: #fff; */
}
/* ::-webkit-input-placeholder{
    color: #fff;
} */
.submit{
    border: none;
    border-radius: 10px;
    font-size: 18px;
    height: 45px;
    outline: none;
    width: 100px;
    background: #1B6B93;
    cursor: pointer;
    transition: .3s;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 70px;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.bottom{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    font-size: small;
    /* color: #fff; */
    /* margin-top: 5px; */
    padding-bottom: 40px;
}
.left{
    display: flex;
}
label a{
    color: #0000;
    text-decoration: none;
}