@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background-color: #dde8ff; */
  background-color: #f2f5f6;
  /* background-color: #d9d9d9b2; */
  /* background: linear-gradient(249.11deg, #2daae1 23.74%, #2d7fc1 74.11%); */
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
}
header.custom_form-header {
  /* width: 100%; */
  margin-bottom: 15px;
  border-radius: 5px;
  background: #1b6b93;
  line-height: 100px;
  padding: 10px 20px;
  color: #fff;
}

header h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  align-items: center;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  /* background-color: #fff; */
  /* background-color: #007181; */
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container .title {
  font-size: 24px;
  /* border-bottom: 2px solid; */
  border-radius: 5px;
  padding: 5px;
  font-weight: 700;
  /* background-color: #00a2b940; */

  position: relative;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .user-details .error-message {
  display: none;
}

form .user-details .input-box .custom-file {
  padding-top: 7px;
}

form .user-details .custom-periode {
  display: flex;
  align-items: center;
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input,
.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box select:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
  box-shadow: none;
}
form .gender-details .gender-title {
  font-weight: 500;
}
form .category {
  display: inline-flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  /* background: #; */
  border: 5px solid transparent;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  /* background: #9b59b6; */
  background: black;
  border-color: #d9d9d9;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 10px 0;
}
form .button a {
  border: none;
  font-weight: 500;
  font-size: 15px;
  border-radius: 6px;
  padding: 12px 55px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #035b71;

  transition: all 0.3s ease;
  margin-right: 10px;
}
form .button input {
  height: 100%;
  width: 140px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #035b71;
}
form .button input:hover,
form .button a:hover {
  background-color: #007181;
  transform: scale(0.99);
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 12px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

@media (max-width: 417px) {
  form .button a,
  form .button input {
    margin-right: auto;
  }
}

/* Inputan */
#nama-instansi {
  text-transform: uppercase;
}
#nama-instansi::placeholder {
  text-transform: none;
}
