/* icon boostrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


/* ------------------------------------------------------------- */
/* Bootstrap Main */

:root {
  --ki-main-color: ;
  --ki-second-color: ;
}

* {
  font-family: "Poppins", sans-serif;
}

/* top navbar */
.custom_nav-one {
  background-color: #0f4c75;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
}

/* .navbar {

} */

.navbar .navbar-nav-right span {
  vertical-align: middle;
  color: #ffff;
  font-size: 20px;
}
.navbar .navbar-nav-right img {
  margin-left: 8px;
  width: 50px;
}

.navbar .navbar-nav-right .custom-dropdown a {
  cursor: pointer;
}
.navbar .navbar-nav-right .custom-dropdown a:hover {
  background-color: #7f8875;
}
.navbar .navbar-nav-right .dropdown-toggle::after {
  content: none;
}

.navbar .navbar-nav-right .dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
}
/* Navbar one End*/

/* bottom navbar */
.custom_nav-menu {
  position: relative;
  width: 100%;
  background-color: #00616F;
  padding: 10px 0;
}

.custom_nav-menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.custom_nav-menu .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  color: #fff;
}
.custom_nav-menu .navbar-nav .nav-item .nav-link:hover {
  color: #7f8875;
}

.custom_nav-menu .navbar-nav .nav-item .nav-link.active {
  color: #7f8875;
  /* color: red; */
  font-weight: 400;
}

/* Navbar Menu Two End */

/* Main Section Start */
.title-hero {
  padding: 46px 32px;
  padding-top: 165px;
  padding-bottom: 180px;
}

/* .container{
  display: grid;
  place-items: center;
  height: 55vh;
} */

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.align-items-center{
  align-items: center !important;
}


study-option{
  padding: 46px 32px;
}

.bg-study-option {
  background: linear-gradient(249.11deg, #2DAAE1 23.74%, #2D7FC1 74.11%);
  /* background-image: linear-gradient(249.11deg, rgb(45, 170, 225) 23.74%, rgb(45, 127, 193) 74.11%); */
}
/* Main Section End */