/* icon boostrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


/* ------------------------------------------------------------- */
/* Bootstrap Main */

:root {
    --ki-main-color: #00616f;
    --ki-second-color: #008194;
    --ki-button-color: #007181;
    --ki-copyright-color: rgba(0, 0, 0, 0.2);
    --ki-blue: #5E50F9;
    --ki-indigo: #6610f2;
    --ki-purple: #6a008a;
    --ki-pink: #E91E63;
    --ki-red: #f96868;
    --ki-orange: #f2a654;
    --ki-yellow: #ffff00;
    --ki-green: #46c35f;
    --ki-teal: #58d8a3;
    --ki-cyan: #57c7d4;
    --ki-white: #ffffff;
    --ki-gray: #434a54;
    --ki-gray-light: #aab2bd;
    --ki-gray-lighter: #e8eff4;
    --ki-gray-lightest: #e6e9ed;
    --ki-gray-dark: #0f1531;
    --ki-black: #000000;
    --ki-dark-light: ##F0F2F3
    --ki-gray-100: #f8f9fa;
    --ki-gray-200: #e9ecef;
    --ki-gray-300: #dee2e6;
    --ki-gray-400: #ced4da;
    --ki-gray-500: #adb5bd;
    --ki-gray-600: #6c757d;
    --ki-gray-700: #495057;
    --ki-gray-800: #343a40;
    --ki-gray-900: #212529;
    --ki-primary: #464dee;
    --ki-secondary: #d8d8d8;
    --ki-success: #0ddbb9;
    --ki-info: #0ad7f7;
    --ki-warning: #fcd53b;
    --ki-danger: #ee5b5b;
}

* {
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.parent {
    max-width: 1550px;
    margin: 0 auto;
    /* justify-content: center; */
}

/* top navbar */
.header{
    margin: auto;
}

.custom_nav-one {
    background-color: var(--ki-main-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
}

/* .navbar {

} */
.navbar {
    top: 0;
    left: 0;
    width: 100%;
}

.navbar .navbar-nav-right span {
    vertical-align: middle;
    color: #ffff;
    font-size: 20px;
}
.navbar .navbar-nav-right img {
    margin-left: 8px;
    width: 50px;
}

.navbar .navbar-nav-right i {
    margin-left: 10px;
    width: 5px;
}

.navbar .navbar-nav-right .custom-dropdown a {
    cursor: pointer;
}
.navbar .navbar-nav-right .custom-dropdown a:hover {
    background-color: #7f8875;
}
.navbar .navbar-nav-right .dropdown-toggle::after {
    content: none;
}

.navbar .navbar-nav-right .dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
}
/* Navbar one End*/

/* bottom navbar */
.custom_nav-menu {
    /* position: relative; */
    /* width: 100%; */
    /* max-width: 1550px; */
    background-color: var(--ki-button-color);
    padding: 10px 0;
}

.custom_nav-menu.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.custom_nav-menu .navbar-nav .nav-item .nav-link {
font-weight: 400;
color: #fff;
}
.custom_nav-menu .navbar-nav .nav-item .nav-link:hover {
color: var(--ki-yellow);
}

.custom_nav-menu .navbar-nav .nav-item .nav-link.active {
color: var(--ki-yellow);
/* color: red; */
font-weight: 400;
}

/* Navbar Menu Two End */

/* Main Section Start */

.page-header {
    background: linear-gradient(rgba(43, 57, 64, .5), rgba(43, 57, 64, .5)), url(../../assets/image/guru-tamu.jpg) center center no-repeat;
    background-size: cover;
}


.title-description .container .description-content{
    background-color: var(--ki-dark-light);
    padding: 100px;
    box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.1);;
}

.title-description .container .description-content p{
    color: #797b7c;
    text-align: justify;
}

.title-registration {
    margin: 150px 0px 150px;
}

.title-registration .container .registration-content p{
    margin-bottom: 50px;
}

.title-registration .container .registration-content a{
    color: var(--ki-white);
    background-color: var(--ki-second-color);;
}

.title-registration .container .registration-content a:hover{
    background-color: var(--ki-button-color);
    transition: all 0.3 ease;
    -webkit-transition: all 0.3 ease;
    -moz-transition: all 0.3 ease;
    -ms-transition: all 0.3 ease;
    -o-transition: all 0.3 ease;
}

.job-desc .row img{
    width: 500%;
}

.list-job-desc {
    background-color: var(--ki-dark-light);
    box-shadow: rgba(200, 200, 200, 0.25) 0px 8px 29px 5px;
}

.list-job-desc .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--ki-second-color);
    margin-left: -25px;
}

/* Accordion Start */
.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}
.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    /* position relative penyebab numpuk diatas header / navbar ? */
    position: relative; 
    cursor: pointer;
}
.accordion-item-header::after {
    content: "+";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
.accordion-item-header.active::after {
    content: "-";
}
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    -webkit-transition: max-height 0.2s ease-out;
    -moz-transition: max-height 0.2s ease-out;
    -ms-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
    padding: 1rem;
    text-align: start;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #ffff, transparent) 1;
}

/* Accordion End */

/* Timeline Guest Teacher Start */

.main-timeline {
    position: relative;
    text-align: start;
}

.main-timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: var(--ki-gray-500);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline {
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: var(--ki-gray-500);
    border: 5px solid var(--ki-yellow);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    padding: 0px 40px 20px 0px;
    left: 0;
}

.right {
    padding: 0px 0px 20px 40px;
    left: 50%;
}

.left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -12px;
}
/* Timeline Guest Teacher End */
/* Main Section End */