/* icon boostrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  font-family: "Poppins", sans-serif;
}

/* Navbar one */
.custom_nav-one {
  background-color: #0f4c75;

  /* background-color: #2d5f80; */
  color: aliceblue;
}

.navbar {
  position: relative;
}

.navbar .navbar-nav-right span {
  /* display: inline-block; */
  /* line-height: 1.5; */
  vertical-align: middle;
  color: #fff;
  font-size: 20px;
}
.navbar .navbar-nav-right img {
  margin-left: 8px;
  width: 50px;
}

.navbar .navbar-nav-right .custom-dropdown a {
  cursor: pointer;
}
.navbar .navbar-nav-right .custom-dropdown a:hover {
  background-color: #7f8875;
}
.navbar .navbar-nav-right .dropdown-toggle::after {
  content: none;
}

.navbar .navbar-nav-right .dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 9999;
}
/* Navbar one End*/

/* Navbar Menu two */
.custom_nav-menu {
  /* background-color: #0f4c75; */
  background-color: #2d5f80;
}

.custom_nav-menu .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  color: #fff;
}
.custom_nav-menu .navbar-nav .nav-item .nav-link:hover {
  color: #7f8875;
}

.custom_nav-menu .navbar-nav .nav-item .nav-link.active {
  color: #7f8875;
  /* color: red; */
  font-weight: 400;
}

/* Navbar Menu two end */
