* {
  font-family: "Poppins", sans-serif;
  /* background-color: #e5f5f8; */
}

/* Login Page CSS */

.custom_login-page {
  /* background-image: url("../assets/images/bg-login.png"); */
  background-color: #b9b8b8;
}

.custom_login-page .custom_container-login {
  border: 1px solid #000000;
  border-radius: 10px;
  margin-top: 130px;
  background-color: #fff;
  width: 1400px;
  height: 480px;
  /* padding-top: 20px; */
}

.custom_login-page .custom_container-login h2 {
  margin-left: 115px;
  margin-bottom: 50px;
}

.custom_login-page .custom_container-login img {
  width: 500px;
}

.custom_login-page .custom_container-login .no-focus {
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid #000000;
  border-radius: 0%;
}

.custom_login-page .custom_container-login .custom_submit-login {
  background-color: #007181;
  color: #fff;
  margin-top: 20px;
  margin-left: 120px;
  padding: 7px 30px;
  font-weight: 500;
}

.custom_login-page .custom_container-login .custom_submit-login:hover {
  background-color: #66c7d5;
  color: #2b2a2a;
}
/* Custom Login page end */

/* Custom Nav Section */ 
.custom_nav-container {
  background-color: #e5f5f8;
  transition: 1.5s;
}

/* sticky top */
.white {
  background: #ccecf1;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 7px 18px;
  font-size: 15px;
  color: #000000;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  background-color: #19abc0;
  color: #ffff;
}

.custom_nav-container .navbar-nav .nav-item-active .custom_button-login {
  font-size: 15px;
  font-weight: 600;
  background-color: #007181;
  color: #fff;
  padding: 7px 20px;
}

.custom_nav-container .navbar-nav .nav-item-active .custom_button-login:hover {
  background-color: #66c7d5;
  color: #2b2a2a;
}
/* Custom Nav section end */

/* Custom Hero Section */
.custom_hero-section {
  background-color: #e5f5f8;
  height: 100vh;
  overflow: hidden;
}
.custom_hero-section::before {
  content: "PLN ICON PLUS";
  position: absolute;
  font-size: 70px;
  font-weight: 600;
  color: #9b9a9a;
  z-index: 100;
  opacity: 0.1;
  margin-top: 490px;
  margin-left: 50px;
  transform: rotate(-90deg);
  transform-origin: top left;
}
.custom_hero-section .custom_hero-text {
  margin-left: 120px;
}

.custom_hero-section .custom_hero-image {
  padding-right: 100px;
}

.custom_hero-section .custom_hero-text h1 {
  color: #0093ae;
  font-size: 60px;
}

.custom_hero-section .custom_hero-text h2 {
  color: #0093ae;
}

.custom_hero-section .custom_hero-text h2::after {
  content: "";
  border-bottom: 3.5px solid black;
  width: 10rem;
  display: block;
  margin-top: 20px;
}

.custom_hero-section a {
  margin-top: 27px;
  padding: 10px 30px;
  font-weight: 503;
  background-color: #007181;
  color: #f3f0f6;
}

.custom_hero-section a:hover {
  background-color: #19abc0;
}
/* Custom hero section end */

/* custom social media */
.custom_social-media {
  display: flex;
  align-items: center;
  position: absolute;
  writing-mode: vertical-rl;
  margin-left: 1320px;
}
.custom_social-media h2 {
  color: #00a2b9;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  padding-top: 70px;
}
.border {
  border-left: 6px solid rgba(0, 0, 0, 10);
  width: 4px;
  height: 90px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 240px;
  background-color: #000000;
}

.custom_social-media .social_media-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.custom_social-media .social_media-button a {
  display: block;
  margin-bottom: 10px;
  background-color: transparent; /* Menghapus latar belakang */
  position: absolute;
  left: 50%; /* Menyusun ikon ke tengah secara horizontal */
  transform: translateX(
    -50%
  ); /* Menggeser ikon ke kiri sejajar dengan border */
  top: 220px; /* Menyesuaikan jarak vertikal antara ikon dan border */
}

.custom_social-media .social_media-button a i {
  font-size: 24px;
  color: #000;
}
.custom_social-media .social_media-button a:first-child {
  margin-top: 120px; /* Memberikan jarak di atas ikon pertama */
  margin-left: 5px;
}
.custom_social-media .social_media-button a:not(:first-child) {
  margin-left: 5px; /* Memberikan jarak di atas ikon kedua dan seterusnya */
  margin-top: 170px;
}
.custom_social-media .social_media-button a i.bi-whatsapp {
  color: #25d366; /* Memberikan warna biru pada ikon WhatsApp */
}

.custom_social-media .social_media-button a i.bi-instagram {
  color: #ed088e; /* Memberikan warna merah pada ikon Instagram */
}
/* custom social media end */

/* Custom About Section */

.about_area-section img {
  width: 650px;
  margin-left: 50px;
}

.about_area-section .custom_about-text {
  padding-top: 75px;
}

.about_area-section .custom_about-text h2 {
  color: #0093ae;
}

.about_area-section .custom_about-text a {
  margin-top: 20px;
  padding: 10px 30px;
  font-weight: 500;
  background-color: #007181;
  color: #f3f0f6;
}

.about_area-section .custom_about-text a:hover {
  background-color: #19abc0;
  color: #000000;
}
/* Custom about section */

/* Custom services Section */
.services_area-section {
  background-color: #e5f5f8;
}

.services_area-section .custom_card-section {
  background-color: #e5f5f8;
  width: 350px;
}
.services_area-section img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.services_area-section h2,
.services_area-section h5 {
  color: #0093ae;
}
/* Custom services Section End*/

/* anime counter */
.custom_section-counter{
  background: url("/Boostrap5/assets/images/bgcounter.png") no-repeat;
  padding: 90px; 
  background-position: center;
  background-size: cover;
  position: relative;
}
.custom_section-counter::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 113, 129, 0.8);
  z-index: 1;
}
.custom_section-counter .custom_counter{
  position: relative;
  z-index: 2;
  margin-left: 70px;
  
}
.custom_section-counter .count {
  font-size: 45px;
  font-weight: 600;
  color:#FFFF00; 
}
.custom_section-counter .plus,
.custom_section-counter p {
  color: white;
}
/* anime counter end*/


/* Why choose us */
.wcu_area-section {
  background-color: #ffff;
  padding-top: 100px;
  height: 100vh;
}
.wcu_area-section .container {
  margin-right: 60px;
}

.wcu_area-section .custom_wcu-text span {
  color: #0093ae;
}
.wcu_area-section .custom_wcu-text span h1 {
  font-size: 50px;
}

.wcu_area-section .custom_wcu-text img {
  width: 35px;
  float: left;
  margin-right: 16px;
}
.wcu_area-section .custom_wcu-text .text-wcu {
  font-weight: 500;
  overflow: hidden;
}
.wcu_area-section .custom_wcu-text .text-wcu h2 {
  font-size: 16px;
  color: #00a2b9;
  line-height: 28px;
}

.wcu_area-section .custom_wcu-text .text-wcu p {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.wcu_area-section .custom_wcu-text a {
  background-color: #007181;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-weight: 500;
}

.wcu_area-section .custom_wcu-image img {
  width: 600px;
  height: 480px;
}
/* Why choose us End*/



