* {
  font-family: "Poppins", sans-serif;
  /* background-color: #e5f5f8; */
}

/* Login Page CSS */

.container {
  margin-top: 100px;
  background-color: #000000;
}

.container h2 {
  margin-left: 100px;
  margin-bottom: 50px;
}

.container img {
  width: 500px;
}

.container .no-focus {
  box-shadow: none !important;
}

.container .custom_submit-login {
  background-color: #0093ae;
  margin-top: 30px;
  margin-left: 120px;
  padding: 7px 20px;
  font-weight: 500;
}

/* Custom Nav Section */
.custom_nav-container {
  background-color: #e5f5f8;
  transition: 1.5s;
}
/* sticky top */
.white {
  background: #ccecf1;
}
.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 7px 18px;
  font-size: 15px;
  color: #000000;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  background-color: #19abc0;
  color: #ffff;
}

.custom_nav-container .navbar-nav .nav-item-active .custom_button-login {
  font-size: 15px;
  font-weight: 600;
  background-color: #007181;
  color: #fff;
  padding: 7px 20px;
}

.custom_nav-container .navbar-nav .nav-item-active .custom_button-login:hover {
  background-color: #66c7d5;
  color: #2b2a2a;
}

/* Custom Hero Section */
.custom_hero-section {
  background-color: #e5f5f8;
  height: 100vh;
  overflow: hidden;
}

.custom_hero-section .custom_hero-text {
  margin-left: 120px;
}
.custom_hero-section .custom_hero-image {
  padding-right: 100px;
}

.custom_hero-section .custom_hero-text h1 {
  color: #0093ae;
  font-size: 60px;
}

.custom_hero-section .custom_hero-text h2 {
  color: #0093ae;
}

.custom_hero-section .custom_hero-text h2::after {
  content: "";
  border-bottom: 3.5px solid black;
  width: 10rem;
  display: block;
  margin-top: 20px;
}

.custom_hero-section a {
  margin-top: 27px;
  padding: 10px 30px;
  font-weight: 503;
  background-color: #007181;
  color: #f3f0f6;
}
.custom_hero-section a:hover {
  background-color: #19abc0;
}

/* Custom About Section */
.about_area-section img {
  width: 650px;
  margin-left: 50px;
}

.about_area-section .custom_about-text {
  padding-top: 75px;
}

.about_area-section .custom_about-text h2 {
  color: #0093ae;
}

.about_area-section .custom_about-text a {
  margin-top: 20px;
  padding: 10px 30px;
  font-weight: 500;
  background-color: #007181;
  color: #f3f0f6;
}

.about_area-section .custom_about-text a:hover {
  background-color: #19abc0;
  color: #000000;
}

/* Custom services Section */
.services_area-section {
  background-color: #e5f5f8;
}

.services_area-section .custom_card-section {
  background-color: #e5f5f8;
  width: 350px;
}
.services_area-section img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.services_area-section h2,
.services_area-section h5 {
  color: #0093ae;
}

/* Animation Counter Section */
.counter_area-section{
  /* background: #0093ae;
  text-align: center;
  transition: all 0.7s linear;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -ms-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  color: white; */
}

.counter-wrapper{
  background: url(/Boostrap5/assets/images/bgcounter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  padding: 10rem 9%;
  margin-top: 5rem;
  position: relative;
}

.counter-wrapper::before {
  position: absolute;
  content: "";
  content: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 113, 129, 0.8);
  z-index: 1;
}

.counter {
  text-align: center;
  color: #ddd;
  z-index: 2;
  position: relative;
}

.counter::before {
  position: absolute;
  content: "";
  bottom: -2rem;
  left: 50%;
  width: 20%;
  height: 0.2rem;
  background: #4d87fe;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.counter .count {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.counter p {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
/* Animation Counter Section */
